@import 'tailwindcss';


:root {
  --reco-green-0: #033913;
  --reco-green-10: #1a2a1c;
  --reco-green-20: #2f3f28;
  --reco-green-30: #445534;
  --reco-green-40: #596a40;
  --reco-green-50: #6e7f4c;
  --reco-green-60: #839458;
  --reco-green-70: #98a964;
  --reco-green-80: #adbe70;
  --reco-green-90: #c2d37c;
  --reco-green-100: #F5F5DC;
}

body {
  background: var(--reco-green-100);
  color: #000000;
}